body {
}

.carousel {
    display: flex;
    overflow: hidden;
}

.carousel img {
    max-width: 400px;
    max-height: 310px;
    margin: auto;
}

.slide {
    flex: 0 0 100%;
    transition: transform 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    width: 100%;
}

.decription-item {
    font-weight: 400;
}

.popup-call {
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    color: darkred;
}

.heart-layout.bi-heart-fill {
    color: #000000;
    transition: color 0.3s;
}

.heart-layout.bi-heart-fill:hover {
    color: #838B8B;
}

.dropdown-toggle::before {
    display: flex;
    align-items: center;
}

.dropdown-toggle.bi.bi-person-circle {
    transform: translateY(2px);
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.viewed-post {
    opacity: 0.5;
}

/*.card {
    width: 24rem !important;
}*/