:root {
  --color1: #5b456f;
  --vl: #735b88;
  --color2: #5f5270;
  --red1: #d74d63;
  --red2: #e63e60;
  --red1hover: #ff2525;
  --t1: #4f4f4f;
  --dark1: #4f4f4f;
  --dark2: #6b6b6b;
  --dark3: #413328;
  --dark4: #514240;
  --light1: #f4f4f4;
  --hover1: #754ab3;
  --hover2: #c4a2fc;
  --violet: #d4cdf3;
  --colorVK: #597da3;
  --shadow1: 0 2px 8px rgba(0, 0, 0, 0.08);
  --shadow1hover: 0 10px 10px rgba(196, 187, 234, 0.45);
  --shadow2: 0 2px 5px rgba(0, 0, 0, 0.08);
  --shadow2hover: 0 2px 5px rgba(196, 187, 234, 0.45);
  --sh1: 0 4px 30px rgba(0, 0, 0, 0.05);
  --border23: 1px solid var(--vl);
  --borderRadius23: 4px;
}
body {
  background: #fafafa;
}
.mailing__title1 {
  text-align: center;
  color: var(--color1);
}
.mailing__title2 {
  text-align: center;
}
.mailing__desc {
  text-align: center;
  font-size: 20px;
}
@media screen and (max-width: 575px) {
  .mailing__desc {
    font-size: 16px;
  }
}
.rating-area_1 {
  overflow: hidden;
  width: 100%;
  margin: 0 0 0 auto;
}
@media screen and (max-width: 575px) {
  .rating-area_1 {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 414px) {
  .rating-area_1 {
    width: 100%;
  }
}
.rating-area_1:not(:checked) > input {
  display: none;
}
.rating-area_1:not(:checked) > label {
  float: right;
  text-align: right;
  width: 10%;
  padding: 0;
  cursor: pointer;
  font-size: 32px;
  line-height: 32px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}
@media screen and (max-width: 575px) {
  .rating-area_1:not(:checked) > label {
    font-size: 40px;
    line-height: 40px;
  }
}
.rating-area_1:not(:checked) > label:before {
  content: '★';
}
.rating-area_1 > input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px #c60;
}
.rating-area_1:not(:checked) > label:hover,
.rating-area_1:not(:checked) > label:hover ~ label {
  color: gold;
}
.rating-area_1 > input:checked + label:hover,
.rating-area_1 > input:checked + label:hover ~ label,
.rating-area_1 > input:checked ~ label:hover,
.rating-area_1 > input:checked ~ label:hover ~ label,
.rating-area_1 > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}
.rating-area_2 {
  overflow: hidden;
  width: 100%;
  margin: 0 0 0 auto;
}
@media screen and (max-width: 575px) {
  .rating-area_2 {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 414px) {
  .rating-area_2 {
    width: 100%;
  }
}
.rating-area_2:not(:checked) > input {
  display: none;
}
.rating-area_2:not(:checked) > label {
  float: right;
  text-align: right;
  width: 10%;
  padding: 0;
  cursor: pointer;
  font-size: 32px;
  line-height: 32px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}
@media screen and (max-width: 575px) {
  .rating-area_2:not(:checked) > label {
    font-size: 40px;
    line-height: 40px;
  }
}
.rating-area_2:not(:checked) > label:before {
  content: '★';
}
.rating-area_2 > input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px #c60;
}
.rating-area_2:not(:checked) > label:hover,
.rating-area_2:not(:checked) > label:hover ~ label {
  color: gold;
}
.rating-area_2 > input:checked + label:hover,
.rating-area_2 > input:checked + label:hover ~ label,
.rating-area_2 > input:checked ~ label:hover,
.rating-area_2 > input:checked ~ label:hover ~ label,
.rating-area_2 > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}
.rating-area_3 {
  overflow: hidden;
  width: 100%;
  margin: 0 0 0 auto;
}
@media screen and (max-width: 575px) {
  .rating-area_3 {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 414px) {
  .rating-area_3 {
    width: 100%;
  }
}
.rating-area_3:not(:checked) > input {
  display: none;
}
.rating-area_3:not(:checked) > label {
  float: right;
  text-align: right;
  width: 10%;
  padding: 0;
  cursor: pointer;
  font-size: 32px;
  line-height: 32px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}
@media screen and (max-width: 575px) {
  .rating-area_3:not(:checked) > label {
    font-size: 40px;
    line-height: 40px;
  }
}
.rating-area_3:not(:checked) > label:before {
  content: '★';
}
.rating-area_3 > input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px #c60;
}
.rating-area_3:not(:checked) > label:hover,
.rating-area_3:not(:checked) > label:hover ~ label {
  color: gold;
}
.rating-area_3 > input:checked + label:hover,
.rating-area_3 > input:checked + label:hover ~ label,
.rating-area_3 > input:checked ~ label:hover,
.rating-area_3 > input:checked ~ label:hover ~ label,
.rating-area_3 > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}
.rating-area_4 {
  overflow: hidden;
  width: 100%;
  margin: 0 0 0 auto;
}
@media screen and (max-width: 575px) {
  .rating-area_4 {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 414px) {
  .rating-area_4 {
    width: 100%;
  }
}
.rating-area_4:not(:checked) > input {
  display: none;
}
.rating-area_4:not(:checked) > label {
  float: right;
  text-align: right;
  width: 10%;
  padding: 0;
  cursor: pointer;
  font-size: 32px;
  line-height: 32px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}
@media screen and (max-width: 575px) {
  .rating-area_4:not(:checked) > label {
    font-size: 40px;
    line-height: 40px;
  }
}
.rating-area_4:not(:checked) > label:before {
  content: '★';
}
.rating-area_4 > input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px #c60;
}
.rating-area_4:not(:checked) > label:hover,
.rating-area_4:not(:checked) > label:hover ~ label {
  color: gold;
}
.rating-area_4 > input:checked + label:hover,
.rating-area_4 > input:checked + label:hover ~ label,
.rating-area_4 > input:checked ~ label:hover,
.rating-area_4 > input:checked ~ label:hover ~ label,
.rating-area_4 > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}
.rating-area_5 {
  overflow: hidden;
  width: 100%;
  margin: 0 0 0 auto;
}
@media screen and (max-width: 575px) {
  .rating-area_5 {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 414px) {
  .rating-area_5 {
    width: 100%;
  }
}
.rating-area_5:not(:checked) > input {
  display: none;
}
.rating-area_5:not(:checked) > label {
  float: right;
  text-align: right;
  width: 10%;
  padding: 0;
  cursor: pointer;
  font-size: 32px;
  line-height: 32px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}
@media screen and (max-width: 575px) {
  .rating-area_5:not(:checked) > label {
    font-size: 40px;
    line-height: 40px;
  }
}
.rating-area_5:not(:checked) > label:before {
  content: '★';
}
.rating-area_5 > input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px #c60;
}
.rating-area_5:not(:checked) > label:hover,
.rating-area_5:not(:checked) > label:hover ~ label {
  color: gold;
}
.rating-area_5 > input:checked + label:hover,
.rating-area_5 > input:checked + label:hover ~ label,
.rating-area_5 > input:checked ~ label:hover,
.rating-area_5 > input:checked ~ label:hover ~ label,
.rating-area_5 > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
  position: relative;
}
/*****************************/
.starGroup__title {
  font-size: 20px;
  line-height: 1.5;
}
@media screen and (max-width: 575px) {
  .starGroup__title {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .starGroup__title {
    font-size: 18px;
  }
}